*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
    height: auto;
   }
   #header{
    height: 150px;
    background-color: green;
    margin: 20px;
   }
   #navigation{
    height: 300px;
    width: 200px;
    background-color: blue;
    float: left;
    margin-left: 25px;
   }
   #main_content{
    height: 400px;
    width: 700px;
    background-color: red;
    float: right;
   }
   .subcontents{
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 10px 0px 10px 10px;
   }
   #advertisement{
    height: 120px;
    width: 660px;
    background-color: purple;
    clear: both;
    margin-left: 15px;
    margin-top: 10px;
   }
   .displaying_blocks 
   {
    background-color: #9aa069;
   }
   img {
       height: 120px;
       width: 120px;
       padding: 20px;
       background-color: white;
   }
   .images img:nth-child(odd){
       background-color: blue;
   }
   .images img:nth-child(even)
   {
       background-color: red;
   }
   .images img 
   {
    border: 2px solid black;
   }
   .head {
       width: 100%;
       text-align: center;
       margin: 25px 0px 10px 0px;
   }
   .head img, .head h1 {
       display: inline;
   }
   .images {
       width: 80%;
       margin: 0 auto;
       text-align: center;
   }
